<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Random Template</title>
  </head>
  <body>
    <h1>You random number is: <%= num %></h1>
    <% if (num%2 ==0) { %>
      <h2>It's even number</h2>
    <% } else { %>
      <h2>It's odd number</h2>
      <% } %>
  </body>
</html>